<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg11">
        <ul>
            <li>
                <h1>Secundario Técnico: Escuela de Minas: "Dr. Horacio Carrillo" – Universidad Nacional de Jujuy.</h1> - <h3>(6 años)</h3>
            </li>
            <p>
                Técnico Químico | 2011 - 2016
            </p> 
        </ul>
        <ul>
            <li>
                <h1>Universidad Nacional de Córdoba</h1> - <h3>(En curso)</h3>
            </li>
            <p>
                Ingeniería Química | 2019 - Actualidad
            </p> 
        </ul>
        <ul>
            <li>
                <h1>Rainbow Institute Academia de Ingles</h1> - <h3>(6 años)</h3>
            </li>
            <p>
                Estudios Completados en 2014. Nivel: Avanzado
            </p> 
        </ul>
    </div>
</div>