<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg11">
        <ul>
            <li>
                <h1>Community Manager</h1> - <h3>(2 años y medio)</h3>
            </li>
            <p>
                Manejo de redes sociales.
                Edición de publicaciones, flyers, reels y demás contenido gráfico.
                Gestión de mensajería y Atención al cliente.
            </p> 
        </ul>
        <ul>
            <li>
                <h1>Atención al Cliente y Cajero</h1> - <h3>(3 años y 3 meses)</h3>
            </li>
            <p>
                Atención al cliente de manera presencial.
                Administración de caja registradora, cobros y pago de pedidos.
            </p> 
        </ul>
        <ul>
            <li>
                <h1>Profesor Particular</h1> - <h3>(1 año y 3 meses)</h3>
            </li>
            <p>
                Clases de Ingles, Matemática, Física y Química.
            </p> 
        </ul>
    </div>
</div>